<%= form_tag '/prihlasit' do %>
  <div class="row">
    <div class="four columns r label">
      <%= label_tag :email, 'E-mail:' %>
    </div>
    <div class="nine columns">
      <%= text_field_tag :email, params[:email], placeholder: 'E-mail' %>
    </div>
  </div>

  <div class="row">
    <div class="four columns r label">
      <%= label_tag :password, 'Heslo:' %>
    </div>
    <div class="nine columns">
      <%= password_field_tag :password, '', placeholder: 'Heslo' %>
    </div>
  </div>

  <div class="row">
    <div class="four columns">&nbsp;</div>
    <div class="nine columns">
      <button class="button default small" type="submit">Přihlásit</button>
    </div>
  </div>
<% end %>
