<%= form_tag '/prihlasit' do %>
  <div class="row">
    <div class="four columns r label">
      <%= label_tag :email, 'E-mail:' %>
    </div>
    <div class="nine columns">
      <%= text_field_tag :email, params[:email], placeholder: 'E-mail' %>
    </div>
  </div>

  <div class="row">
    <div class="four columns r label">
      <%= label_tag :password, 'Heslo:' %>
    </div>
    <div class="nine columns">
      <%= password_field_tag :password, '', placeholder: 'Heslo' %>
    </div>
  </div>

  <div class="row">
    <div class="four columns r label">
      <%= label_tag :remember_me, 'Pamatovat si přihlášení:' %>
    </div>
    <div class="nine columns">
      <%= check_box_tag :remember_me, checked: false %>
    </div>
  </div>

  <div class="row">
    <div class="four columns">&nbsp;</div>
    <div class="nine columns">
      <button class="button lightgreen small" type="submit">Přihlásit</button>
    </div>
  </div>
<% end %>

<div class="border-divider"></div>

<div class="row">
  <div class="four columns">&nbsp;</div>
  <div class="nine columns">
    <p><small>Dosud nemáte účet na Life Akademie? Registraci můžete provést <%= link_to "zde", register_path %>. Zapoměli jste heslo? Zresetovat ho můžete <%= link_to "zde", request_password_reset_path %>.</small></p>
  </div>
</div>
