<!DOCTYPE html>
<html>
  <head>
  <title>Potvrzení objednávky č. <%= @order.variable_symbol %> na lifeakademie.cz</title>
  </head>
  <body>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;"><%= image_tag attachments['logo.png'].url, :alt => "LifeAkademie" %></p>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;">
      Dobrý den,<br>
      potvrzujeme přijetí Vaší objednávky kurzu na webu <a href="http://www.lifeakademie.cz">lifeakademie.cz</a>.
    </p>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;">
      Objednaný kurz: <b><%= @order.course.name_with_date %></b><br>
      Objednávku prosím zaplaťte do <b>do 7dnů od Vaší registrace</b>, aby tak bylo zajištěno Vaše místo s jistotou, v jiném případě nelze garantovat, děkujeme za pochopení.<br>
      Údaje pro platbu:<br>
      Číslo účtu: <b>4190589001/5500</b> (Raiffeisenbank)<br>
      Variabilní symbol: <b><%= @order.variable_symbol %></b><br>
      Částka <b><%= number_to_currency @order.price %></b>
    </p>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;">
      Děkujeme!
    </p>

    <p style="font-family: Arial, serif; font-size: 10px; display: block; width: 100%; border-top: 1px solid #ececec; margin: 2em 0; padding: .75em 0;">
      <strong>DECARO RMG s.r.o.</strong><br>
      Husovo náměstí 1702<br>
      253 01 Hostivice<br>
      IČO: 61943762<br>
      Č. ú.: 4190589001/5500 (Raiffeisenbank)<br>
      E-mail: <a href="mailto:info@lifeakademie.cz">info@lifeakademie.cz</a>
    </p>

  </body>
</html>
