<%= form_for @contact_message, url: '/kontakt', html: { class: 'contact' } do |f| %>

  <% if @contact_message.errors.any? %>
    <div id="form_errors_explanation" class="alert">
      <p><strong>Zpráva nebyla odeslána. Vyskytly se tyto chyby:</strong></p>
      <ul class="list">
        <% @contact_message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="input-block">
    <%= f.label :name, class: 'required' %>
    <%= f.text_field :name %>
  </p>

  <p class="input-block hidden">
    <%= text_field_tag :surname %>
  </p>

  <p class="input-block">
    <%= f.label :email, class: 'required' %>
    <%= f.text_field :email %>
  </p>

  <p class="input-block">
    <%= f.label :body, class: 'required' %>
    <%= f.text_area :body, rows: 7 %>
  </p>

  <p class="input-block spam_protection">
    <label for="spam_protection"><span class="required">*</span>Protispamová ochrana:</label>
    <%= text_field_tag 'spam_protection', '', :class => 'spam_protection' %>
  </p>

  <input type="submit" value="Odeslat" class="button default small">

<% end %>
