<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="eleven columns">
        <div id="form_errors_explanation" class="alert">
          <p><strong>Registrace nebyla úspěšná. Vyskytly se tyto chyby:</strong></p>
          <ul class="list">
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>Základní údaje</legend>

    <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="eleven columns">
        <p>Povinné údaje jsou označeny tučně a <span class="required">*</span></p>
        <p>Pro základní registraci stačí vyplnit následujicí povinné údaje. Před rezervací do kurzu bude vyžadováno doplnění všech údajů potřebných k účasti v kurzu.</p>
      </div>
    </div>

    <div class="row">
      <div class="four columns r label">
        <%= f.label :email, 'E-mail: ', class: 'required' %>
      </div>
      <div class="eleven columns">
        <%= f.text_field :email, placeholder: 'jmeno@domena.cz' %>
      </div>
    </div>
    <div class="row">
      <div class="four columns r label">
        <%= f.label :password, 'Heslo: ', class: 'required' %>
      </div>
      <div class="eleven columns">
        <%= f.password_field :password, placeholder: 'Heslo' %>
      </div>
    </div>
    <div class="row">
      <div class="four columns r label">
        <%= f.label :password_confirmation, 'Heslo: ', class: 'required' %>
      </div>
      <div class="eleven columns">
        <%= f.password_field :password_confirmation, placeholder: 'Potvrzení hesla' %>
      </div>
    </div>
    <div class="row">
      <div class="four columns r label">
        <%= f.label :name, 'Jméno: ', class: 'required' %>
      </div>
      <div class="eleven columns">
        <%= f.text_field :name, placeholder: 'Jméno' %>
      </div>
    </div>
    <div class="row">
      <div class="four columns r label">
        <%= f.label :surname, 'Příjmení: ', class: 'required' %>
      </div>
      <div class="eleven columns">
        <%= f.text_field :surname, placeholder: 'Příjmení' %>
      </div>
    </div>

    <div class="row">
      <div class="four columns r label">
        <%= f.label :course_interest, 'Mám zájem o kurz: ' %>
      </div>
      <div class="eleven columns">
        <%= f.select :course_interest, options_for_select(@courses.map{ |c| [c.name_with_date, c.id]}), prompt: 'Zatím nemám zájem o konkrétní kurz' %>
      </div>
    </div>

    <div class="extra hidden">

      <div class="row">
        <div class="four columns r label">
          <%= f.label :date_of_birth, 'Datum narození: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :date_of_birth, placeholder: 'dd.mm.yyyy', class: 'datepicker' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :place_of_birth, 'Místo narození: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :place_of_birth, placeholder: 'Místo narození' %>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="extra hidden">

    <fieldset>
      <legend>Adresa bydliště</legend>

      <div class="row">
        <div class="four columns r label">
          <%= f.label :street, 'Ulice: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :street, placeholder: 'Ulice' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :city, 'Město: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :city, placeholder: 'Město' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :postal_code, 'PSČ: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :postal_code, placeholder: 'PSČ' %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Fakturační údaje</legend>
      <div class="row">
        <div class="four columns">&nbsp;</div>
        <div class="eleven columns">
          <p>Ponechte prázdné pokud je fakturační adresa totožná s adresou bydliště.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :company, 'Firma: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :company, placeholder: 'Firma' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :billing_street, 'Ulice: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :billing_street, placeholder: 'Ulice' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :billing_city, 'Město: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :billing_city, placeholder: 'Město' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :billing_postal_code, 'PSČ: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :billing_postal_code, placeholder: 'PSČ' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :ic, 'IČ: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :ic, placeholder: 'IČ' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns r label">
          <%= f.label :dic, 'DIČ: ' %>
        </div>
        <div class="eleven columns">
          <%= f.text_field :dic, placeholder: 'DIČ' %>
        </div>
      </div>
    </fieldset>

  </div>

  <fieldset>
    <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="nine columns">
        <button class="button lightgreen small" type="submit">Odeslat</button>
      </div>
    </div>
  </fieldset>
<% end %>
