<% title 'Nové heslo' %>

<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Nové heslo
  </div>

  <section class="sixteen columns">
    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div class="row">
          <div class="four columns">&nbsp;</div>
          <div class="eleven columns">
            <div id="form_errors_explanation" class="alert">
              <p><strong>Registrace nebyla úspěšná. Vyskytly se tyto chyby:</strong></p>
              <ul class="list">
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <fieldset>
        <legend>Nové heslo</legend>

        <div class="row">
          <div class="four columns r label">
            <%= f.label :password, 'Heslo: ', class: 'required' %>
          </div>
          <div class="eleven columns">
            <%= f.password_field :password, placeholder: 'Heslo' %>
          </div>
        </div>
        <div class="row">
          <div class="four columns r label">
            <%= f.label :password_confirmation, 'Potvrzení hesla: ', class: 'required' %>
          </div>
          <div class="eleven columns">
            <%= f.password_field :password_confirmation, placeholder: 'Potvrzení hesla' %>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <div class="four columns">&nbsp;</div>
          <div class="nine columns">
            <button class="button lightgreen small" type="submit">Odeslat</button>
          </div>
        </div>
      </fieldset>
    <% end %>
  </section>
</section>

