<section class="sixteen columns">
  <h2>Uživatelé</h2>

  <table class="custom-table">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>E-mail</th>
        <th class="c">Aktivní</th>
        <th class="c">Objednávek</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% cache ['v1', user] do %>
          <tr>
            <td><%= user %></td>
            <td><%= link_to user.email, "mailto:#{user.email}" %></td>
            <td class="c">
              <% if user.confirmed? %>
                ANO
              <% else %>
                NE
              <% end %>
            </td>
            <td class="c"><%= user.orders.where(paid: true).count %> / <%= user.orders.count %></td>
            <td class="c"><%= link_to 'Zobrazit', admin_user_path(user) %></td>
            <td class="c"><%= link_to 'Odstranit', destroy_admin_user_path(user), method: :delete, data: { confirm: "Opravdu chcete odstranit uživatele #{user}?" } %></td>
          </tr>
        <% end %>
      <% end %>
      <% if @users.empty? %>
        <tr>
          <td colspan="6" class="c">Nejsou žádní uživatelé.</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Editoři</h2>

  <table class="custom-table">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>E-mail</th>
        <th class="c">Aktivní</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @editors.each do |user| %>
        <% cache ['v1', user] do %>
          <tr>
            <td><%= user %></td>
            <td><%= link_to user.email, "mailto:#{user.email}" %></td>
            <td class="c">
              <% if user.confirmed? %>
                ANO
              <% else %>
                NE
              <% end %>
            </td>
            <td class="c"><%= link_to 'Zobrazit', admin_user_path(user) %></td>
            <td class="c"><%= link_to 'Odstranit', destroy_admin_user_path(user), method: :delete, data: { confirm: "Opravdu chcete odstranit editora #{user}?" } %></td>
          </tr>
        <% end %>
      <% end %>
      <% if @users.empty? %>
        <tr>
          <td colspan="5" class="c">Nejsou žádní editoři.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

