<section class="sixteen columns">
  <h2>Objednávky</h2>

  <table class="custom-table">
    <thead>
      <tr>
        <th class="c">#</th>
        <th>Zákazník</th>
        <th>Název</th>
        <th>Začátek</th>
        <th>Objednáno</th>
        <th>Zaplaceno</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td class="c"><%= order %></td>
        <td><%= order.user %></td>
        <td><%= order.course.name %></td>
        <td><%= I18n.localize order.course.start_date %></td>
        <td><%= I18n.localize order.created_at, format: :long %></td>
        <td>
        <% if order.status == 'storno' %>
          Stornováno
        <% else %>
          <% if order.paid? %>
            Zaplaceno
          <% else %>
            Čeká na zaplacení
          <% end %>
        <% end %>
        </td>
        <td>
          <% if !order.paid? and order.status != 'storno' %>
            <%= link_to 'Zaplatit', admin_orders_pay_path(order) %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% if @orders.empty? %>
        <tr>
          <td colspan="7" class="c">Nejsou žádné objednávky.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
