<% title 'Kontakt' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Kontakt
  </div>

  <section class="sixteen columns">
    <div class="row">
      <div class="one-third column">
        <h2>Sídlo společnosti</h2>
        <p>
          <strong>DECARO RMG s.r.o.</strong><br>
          Husovo náměstí 1702<br>
          253 01 Hostivice<br>
          IČO: 61943762<br>
          Č. ú.: 4190589001/5500 (Raiffeisenbank)<br>
          E-mail: <a href="mailto:info@lifeakademie.cz">info@lifeakademie.cz</a>
        </p>
      </div>

      <div class="one-third column">
        <h3>Školící středisko</h3>
        <h4>Praha</h4>
        <p>
          Sedop Praha a.s.<br>
          Olšanská 2643/1a<br>
          Praha 3 Žižkov<br>
          Učebna se nachází v 5.patře
        </p>
        <h4>Olomouc</h4>
        <p><small>Učební prostory se nachází v novém krásné areálu naší partnerské firmy Nutrend.</small></p>
        <p>
          NUTREND D.S., a.s.,<br>
          Selské nám. 9/43,<br>
          772 00 Olomouc-Chválkovice
        </p>
      </div>

      <div class="one-third column">
        <h3>Kontaktní formulář</h3>
        <%= render 'contact_messages/form' %>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="two-thirds column">
        <h3>Mapa</h3>
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=cs&amp;geocode=&amp;q=Ol%C5%A1ansk%C3%A1+2643%2F1a,Praha+3&amp;aq=&amp;sll=50.080617,14.242838&amp;sspn=0.097489,0.15295&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Ol%C5%A1ansk%C3%A1+2643%2F1A,+130+00+Praha,+Czech+Republic&amp;ll=50.084339,14.463555&amp;spn=0.002754,0.010289&amp;z=17&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Ol%C5%A1ansk%C3%A1+2643%2F1a,Praha+3&amp;aq=&amp;sll=50.080617,14.242838&amp;sspn=0.097489,0.15295&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Ol%C5%A1ansk%C3%A1+2643%2F1A,+130+00+Praha,+Czech+Republic&amp;ll=50.084339,14.463555&amp;spn=0.002754,0.010289&amp;z=17&amp;iwloc=A" style="color:#0000FF;text-align:left">Na mapě</a></small>
      </div>

      <div class="one-third column">
        <h3>Doprava</h3>
        <ul class="list">
          <li>Metrem do stanice <b>Želivského</b> nebo <b>Flora</b></li>
          <li>Tramvajovou linkou <b>9</b> nebo <b>26</b> do zastávky <b>Olšanská</b></li>
          <li>Autobusem číslo <b>136</b> nebo <b>175</b> do zastávky <b>Olšanské náměstí</b></li>
          <li>V blízkosti <b>Masarykova nádraží</b> a autobusového nadráží <b>Florenc</b></li>
          <li>Parkování před budovou zdarma</li>
        </ul>
        <h3>Doporučené ubytování</h3>
        <ul class="list">
          <li><a href="http://kovis.cz/ubytovna/index.php">APARTMÁNY KOVIS a.s.</a></li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="sixteen columns">
        <h3>Fotky</h3>
      </div>
    </div>
    <div class="row">
      <div class="sixteen columns">
        <h3>Praha</h3>
      </div>
    </div>
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'content/contact/budova.jpg', alt: 'Budova' %>
      </div>
      <div class="one-third column">
        <%= image_tag 'content/contact/skolici_mistnost_zpredu.jpg', alt: 'Školící místnost z předu' %>
      </div>
      <div class="one-third column">
        <%= image_tag 'content/contact/skolici_mistnost.jpg', alt: 'Školící místnost' %>
      </div>
    </div>
    <div class="row">
      <div class="sixteen columns">
        <h3>Olomouc</h3>
      </div>
    </div>
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'content/contact/ol_mistnost1.jpg', alt: 'Olomouc místnost 1' %>
      </div>
      <div class="one-third column">
        <%= image_tag 'content/contact/ol_mistnost2.jpg', alt: 'Olomouc místnost 2' %>
      </div>
      <div class="one-third column">
        <%= image_tag 'content/contact/ol_terasa.jpg', alt: 'Olomouc terasa' %>
      </div>
    </div>
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'content/contact/ol_bar.jpg', alt: 'Posezení a bar' %>
      </div>
    </div>

  </section>
</section>
