<% title 'Partneři' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Partneři
  </div>

  <section class="sixteen columns">
    <!-- <h3>STARLIFE</h3> -->
    <p><%= image_tag 'content/partners/starlife.jpg', alt: 'STARLIFE' %></p>
    <p>Společnost STARLIFE poskytuje pro všechny účastníky kurzů Life Akademie poukaz na potravinové doplňky v hodnotě 3 000 Kč dle vlastního výběru.</p>
    <p>Společnost STARLIFE je producentem a výhradním prodejcem doplňků stravy špičkové kvality. Většina jejích produktů vychází z poznatků staré čínské a tibetské medicíny a nejnovějších poznatků lékařské vědy. Toto spojení zaručuje produktům vysokou účinnost. Více informací na <a href="http://www.starlife.cz">www.starlife.cz</a>.</p>
    <p><%= image_tag 'content/partners/starlife_products.jpg', alt: 'Produkty STARLIFE' %></p>

    <div class="border-divider"></div>

    <!-- <h3>OVOV</h3> -->
    <p><%= image_tag 'content/partners/ovov.jpg', alt: 'OVOV' %></p>
    <p>Robert Změlík a Roman Šebrle, olympijští vítězové v desetiboji, královské atletické disciplíně, se rozhodli připravit pro žáky základních škol atraktivní pohybový program s názvem Odznak Všestrannosti Olympijských Vítězů - OVOV. Kladou si za cíl přispět ke zvýšení osobní aktivity co největšího počtu dívek a chlapců a dát současné generaci školáků příležitosti zkusit sportovní začátky podobnou formou, jaká se osvědčila jim.</p>
    <p>Jako patroni projektu OVOV působí medailisté a účastníci Olympijských her, Mistrovství světa a Mistrovství Evropy, kteří se kromě jiného zúčastní i okresních a krajských kol soutěží družstev OVOV.</p>
    <p><%= image_tag 'http://www.ovov.cz/system/photos/2233/original/rf_2012_313.jpg', alt: 'Republikové Finále 2012' %></p>

    <div class="border-divider"></div>

    <!-- <h3>NUTREND</h3> -->
    <p><%= image_tag 'content/partners/nutrend.jpg', alt: 'Nutrend' %></p>
    <p>Společnost NUTREND zajišťuje pro všechny účastníky kurzů Life Akademie správný pitný režim.</p>
    <p>Společnost NUTREND je oficiálním dodavatelem Českého olympijského výboru. Značka NUTREND je neoddělitelně spjata se sportem a do svého širokého portfolia doplňků výživy promítá bohaté zkušenosti ze spolupráce se špičkovými sportovci.</p>

    <div class="white-space"></div>
  </section>
</section>
