<% title 'Lektoři' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Lektoři
  </div>

  <section class="sixteen columns tutors">
    <p>Lektoři v našem pedagogickém týmu jsou vynikající a uznávaní odborníci v požadovaném oboru. Díky tomu máte jedinečnou možnost získat veškeré dovednosti a to jak teorii, tak praxi na vysoké úrovni a tímto splňovat kritéria profesinonálního výživového poradce.</p>

    <h3>Garant akreditovaného kurzu</h3>
    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/kacerovska.jpg', alt: 'Ing. Helena Kacerovská' %>
      </div>
      <div class="eleven columns">
        <h4>Ing. Helena Kacerovská</h4>
        <ul class="list">
          <li>2x certifikovaný výživový poradce, pedagog na Univerzitě 3.věku v Českých Budějovicích, poradenství a přednášky v oblasti zdravé výživy více jak 20 let se zaměřením na redukční výživu, racionální i léčebnou výživu a komplexní výživovou problematiku.</li>
          <li>specializace na výživu těhotných a kojících žen,dětí a seniorů, suplementace a fytoterapie</li>
          <li>rozsáhlá publikační činnost</li>
          <li>pravidelně působí v pořadu Dámská jízda Českého rozhlasu a je aktivní členkou "Společnosti pro výživu"</li>
          <li>vlastní centrum zdraví a výživy v Českých Budějovicích</li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/zatloukalova.jpg', alt: 'MUDr. Svatava Zatloukalová' %>
      </div>
      <div class="eleven columns">
        <h4>MUDr. Svatava Zatloukalová</h4>
        <ul class="list">
          <li>plicní lékařka, soukromá ordinace se specializací na zdraví životní styl a léčebná výživa</li>
          <li>terapeutka v oboru celostní medicína</li>
          <li>alternativní a anti-age medicína</li>
          <li>kineziologie</li>
          <li><a href="http://www.lotosovykvet.cz">www.lotosovykvet.cz</a></li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/gajic.jpg', alt: 'Mgr. Alishia Gajić' %>
      </div>
      <div class="eleven columns">
        <h4>Mgr. Alishia Gajić</h4>
        <ul class="list">
          <li>přednášející a pedagog v oblasti Naturopatie, Tradiční čínská medicína, Darkfield specialista, Iridolog, specializace detoxikace a odkyselení organismu, sportovní kouč, zumba a piloxing instruktorka</li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/gregrova.jpg', alt: 'Mgr. Kristýna Gregrová' %>
      </div>
      <div class="eleven columns">
        <h4>Mgr. Kristýna Gregrová</h4>
        <ul class="list">
          <li>odborný asistent na katedře tělesné výchovy a sportu PF JČU v Českých Budějovicích</li>
          <li>specializace na regeneraci organismu, antropometrie a tělesná typologie</li>
          <li>pedagogická, přednášející i publikační činnost</li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/kasparkova.jpg', alt: 'Mgr. Šárka Kašpárková' %>
      </div>
      <div class="eleven columns">
        <h4>Mgr. Šárka Kašpárková</h4>
        <ul class="list">
          <li>MS v trojskoku</li>
          <li>přednášková činnost</li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/snajdrova.jpg', alt: 'Mgr. Šárka Kašpárková' %>
      </div>
      <div class="eleven columns">
        <h4>Lenka Šnajdrová</h4>
        <ul class="list">
          <li>původně zdravotní sestra</li>
          <li>lektorská činnost pro vzdělávání dospělích v různých dovedností</li>
          <li>studentka FHS UK - zkouška Úvod do psychologie</li>
          <li>certifikovaná Trenérka paměti II. stupně</li>
          <li>vlastní lektorská činnost na témata: Trénování paměti, komunikační dovednosti a osobní rozvoj</li>
          <li>zumba instruktorka</li>
          <li>Mladá Boleslav</li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/machan.jpg', alt: 'Mgr. Šárka Kašpárková' %>
      </div>
      <div class="eleven columns">
        <h4>MUDr. Bohuslav Machaň</h4>
        <ul class="list">
          <li>lékař, specialista ORL</li>
          <li>celostní a alternativní medicína</li>
          <li>biologie a somatologie</li>
          <li>dlouholetá přednášková činnost</li>
          <li>Prostějov</li>
        </ul>
      </div>
    </div>

    <div class="border-divider"></div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'content/tutors/vrsecka.jpg', alt: 'Mgr. Lea Vršecká' %>
      </div>
      <div class="eleven columns">
        <h4>Mgr. Lea Vršecká</h4>
        <ul class="list">
          <li>vícemistryně ČR v bodyfitness</li>
          <li>osobní trenérka a výživová poradkyně (12 let praxe)</li>
          <li>členka asociace Výživových poradců a České komory fitness</li>
          <li>autorka pravidelných rubrik a článků v časopisech Fitness a Svět kulturistiky</li>
          <li>přednášková a publikační činnost</li>
        </ul>
      </div>
    </div>
  </section>
</section>
