<% title 'Termíny' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Termíny
  </div>

  <section class="sixteen columns">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Název</th>
          <th>Město</th>
          <th>Začátek</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course_path(course), title: 'Informace o kurzu' %></td>
          <td><%= course.city %></td>
          <td><%= I18n.localize(course.start_date) %></td>
          <td><%= number_to_currency course.price %></td>
          <td>
            <% if current_user %>
              <% if user_ordered_course?(current_user, course.id) %>
                Registrovaný kurz
              <% else %>
                <%= link_to 'Přihlásit se do kurzu', course_reservation_path(course) %>
              <% end %>
            <% else %>
              <%= link_to 'Přihlásit se do kurzu', course_reservation_path(course) %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if @courses.empty? %>
          <tr>
            <td colspan="5" class="c">Nejsou žádné dostupné termíny.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section>
